
footer {
  bordor-top: solid 1px var(--bordor-color);
  position: absolute;
  margin: 0 auto;
  text-align: center;
  bottom: 0px;
  padding: 40px 0;
}
footer li {
	display: inline;
	margin: 0px 10px;
}
a {
	display: inline;
}
