@charset "utf-8"

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
}

/* Footer Start */
footer {
  border-top: solid 1px #eee;
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #ccc;
  font-weight: 300;
  padding: 40px 0;
}

footer a {
  line-height: 20px;
  text-decoration: none;
}

footer svg {
  width: 20%;
}

/* Footer End*/
