:root {--navbar-bg-color: #43a047;}

nav {
  background-color: #00ffff; /*var(--navbar-bg-color);*/
}
nav li {
  margin: 15px 15px;
  width: 10%;
  height: 30px;
  text-align: left;
	float: right;
  background-color: var(--navbar-bg-color);
	display: inline;
}
.navbar {
}
