:root {--navbar-bg-color: #43a047;}

nav {
  background-color: var(--navbar-bg-color);
}
nav li {
  margin: 5px 15px;
  width: 10%;
  height: 50px;
  text-align: right;
  background-color: var(--navbar-bg-color);
	display: inline;
}
.navbar {
}
