@charset "utf-8"

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
}

/* Footer */
footer {
  border-top: solid 1px #eee;
  color: #ccc;
  font-weight: 300;
  padding: 40px 0;
  height: 30px;
}
