<div class="social-links">
  {% if site.social.twitter %}
  <a target="_blank", href="{{site.social.twitter}}">
    <i class="fab fa-twitter-square fa-2x"></i>
  </a>

  {% endif %}
  {% if site.social.github %}
  <a target="_blank", href="{{site.social.linkedin}}">
    <i class="fab fa-linkedin fa-2x"></i>
  </a>
  {% endif %}

  {% if site.social.email %}
  <a href="mailto:{{site.social.email}}">
    <i class="far fa-envelope fa-2x"></i>
  </a>
  {% endif %}

  {% if site.social.github %}
  <a target="_blank", href="{{site.social.github}}">
    <i class="fab fa-github-square fa-2x"></i>
  </a>
  {% endif %}

  {% if site.social.facebook %}
  <a target="_blank", href="{{site.social.facebook}}">
    <i class="fab fa-facebook-square fa-2x"></i>
  </a>
  {% endif %}
</div>
