$landing-logo-bgcolor: #0099cc;

body.landingPage {
  background-color: $primary-bg !important;
  .mainWrapper {
    padding-top: $main-nav-ptop;
  }
}

.landing-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $landing-logo-bgcolor;
  padding: 30px 0;
}
.landing-content {
  display: flex;
  justify-content: center;
}
