$landing-logo-bgcolor: #0099cc;

body.landingPage {
  background-color: $primary-bgcolor !important;
  .mainWrapper {
    display: flex;
    padding-top: $main-nav-ptop;
    min-height: 100vh;
  }
}

.landing-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $landing-logo-bgcolor;
  padding: 30px 0;
  height: 50vh;
  color: #ffffff;
}
.landing-content {
  display: flex;
  justify-content: center;
}
