:root {
  --main-color: #f7f7f7;
  --link-color: ##43a047;
  --link-hover-color: darken($link-color, 10%);
  --border-color: #eee;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* padding-top: 5px; */
  background-color: var(--main-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  &: hover,
  &: focus {
    color: var(--link-hover-color);
  }
}
svg {
  margin: 5%;
}
