@charset "utf-8"
@import "style.css"
@import "navbar.css"
@import "footer.css"

/* Footer Start */
/*footer {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #ccc;
  font-weight: 300;
  padding: 40px 0;
}
*/

footer a {
  /* line-height: 20px;*/
  text-decoration: none;
}

footer svg {
  width: 20%;
}

/* Footer End*/
